// Map styles

:root {
  --map-isometric-x-offset: 0px;
  --map-isometric-y-offset: 0px;
  --map-isometric-rotation: 45deg;
  --map-isometric-x-scale: 0.578; // cos(-54.7deg)
  --map-isometric-transition-duration: 0.5s;
}

// Levels

.Map-level {
  display: none;

  svg:not(.Map-no-isometric-transition) & {
    transition: transform var(--map-isometric-transition-duration) ease-in-out;
    transform: translate(50%, 50%) translateY(0px) translateX(0px) scaleY(1)
      translate(-50%, -50%);
  }

  &.Map-visible {
    display: initial;
  }

  svg.Map-isometric-transform & {
    // https://www.petercollingridge.co.uk/tutorials/svg/isometric-projection/
    transform: translate(50%, 50%) translateY(var(--map-isometric-y-offset))
      translateX(var(--map-isometric-x-offset))
      scaleY(var(--map-isometric-x-scale)) rotate(var(--map-isometric-rotation))
      translate(-50%, -50%);
  }
}

// Layers

.Map-layer {
  &.Map-hidden {
    display: none;
  }
}

// Isometric styles
.Map-isometric {
  // elements which are hidden during the transition
  .Map-isometric-transition-hidden {
    display: none;
  }

  // elements hidden in isometric view
  .Map-isometric-hidden {
    display: none;
  }

  // all levels are visible in isometric view
  .Map-level {
    display: initial;
  }
}

// elements which are hidden during the transition
.Map-isometric-transition-finished .Map-isometric-transition-hidden {
  display: initial;

  // don't override hidden setting
  &.Map-hidden {
    display: none;
  }
}

// Click styles

.Map-click {
  cursor: pointer;
}

// Vendor styles

.Map-vendor-icon {
  display: none;

  &.Map-visible {
    display: initial;
  }
}

.Map-vendor-name {
  display: none;

  &.Map-visible {
    display: initial;
  }
}

// Event names

.Map-event-name {
  display: none;

  &.Map-visible {
    display: initial;
  }
}
