// Map styles

:root {
  --map-isometric-x-offset: 0px;
  --map-isometric-y-offset: 0px;
  --map-isometric-rotation: 45deg;
  --map-isometric-x-rotation: -54.7deg;
  --map-isometric-transition-duration: 0.5s;
}

// Levels

.Map-level {
  display: none;
  transition: transform var(--map-isometric-transition-duration) ease-in-out;
  transform: translate(50%, 50%) translateY(0px) translateX(0px)
    rotate3d(1, 0, 0, 0deg) rotate(0deg) translate(-50%, -50%);

  &.Map-visible {
    display: initial;
  }

  .Map-isometric-transform & {
    // https://www.petercollingridge.co.uk/tutorials/svg/isometric-projection/
    transform: translate(50%, 50%) translateY(var(--map-isometric-y-offset))
      translateX(var(--map-isometric-x-offset))
      rotate3d(1, 0, 0, var(--map-isometric-x-rotation))
      rotate(var(--map-isometric-rotation)) translate(-50%, -50%);
  }
}

.Map-layer {
  &.Map-hidden {
    display: none;
  }
}

.Map-isometric .Map-isometric-hidden {
  display: none;
}

.Map-isometric .Map-level {
  display: initial;
}

.Map-click {
  opacity: 0;
  cursor: pointer;
}

// Specific map element styles

.Map-level-id-3f {
  --map-isometric-y-offset: -85in;
}

.Map-level-id-2f {
  --map-isometric-y-offset: -46in;
}

.Map-level-id-lobby {
  --map-isometric-y-offset: -15in;
}

.Map-level-id-lower {
  --map-isometric-y-offset: 8000px;
}
