.Map-layer {
  &.Map-hidden {
    display: none;
  }
}

.Map-click {
  cursor: pointer;
}

.Map-location-title {
  &.Map-empty {
    display: none;
  }
}

.Map-location-icon {
  &.Map-empty {
    display: none;
  }
}
