.MapViewer-root {
  position: relative;
  overflow: hidden;
}

.MapViewer-wrapper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.MapViewer-content {
  width: 100%;
  height: 100%;
}

.MapViewer-content > svg {
  width: 100%;
  height: 100%;
}

.MapViewer-controlsRight {
  position: absolute;
  top: 0;
  right: 0;
}
