.MapViewer-root {
  position: relative;
  overflow: hidden;

  // Nested to increase specificity compared to the classes the library adds
  .MapViewer-wrapper {
    width: 100%;
    height: 100%;
  }

  .MapViewer-content {
    width: 100%;
    height: 100%;
  }
}

.MapViewer-content > svg {
  width: 100%;
  height: 100%;

  &.Map-isometric {
    overflow: visible;
  }
}

.MapViewer-controlsTopRight {
  position: absolute;
  top: 0;
  right: 0;
}

.MapViewer-controlsTopLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.MapViewer-controlsBottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.MapViewer-controlsBottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}
