@mixin default-grid {
  display: grid;
  gap: 0.25rem;
}

.root {
  --text-fz-sm: var(--mantine-font-size-sm);
  --text-fz-md: var(--mantine-font-size-md);
  --text-fz-lg: var(--mantine-font-size-md);
  --text-fz: var(--text-fz-md);

  --text-lh-sm: var(--mantine-line-height-sm);
  --text-lh-md: var(--mantine-line-height-md);
  --text-lh-lg: var(--mantine-line-height-md);
  --text-lh: var(--text-lh-md);

  --contact-avatar-size-sm: calc(1.625rem * var(--mantine-scale));
  --contact-avatar-size-md: calc(2.375rem * var(--mantine-scale));
  --contact-avatar-size-lg: calc(2.375rem * var(--mantine-scale));
  --contact-avatar-size: var(--contact-avatar-size-md);

  @each $size in "sm", "md", "lg" {
    &[data-size="#{$size}"] {
      --text-fz: var(--text-fz-#{$size});
      --text-lh: var(--text-lh-#{$size});
      --contact-avatar-size: var(--contact-avatar-size-#{$size});
    }
  }

  @include default-grid;

  color: var(--color);
}

.occurrences {
  @include default-grid;
}

.occurrence {
  @include default-grid;
}

.contactIcon {
  --avatar-size: var(--contact-avatar-size);
  // --avatar-size-xs: var(--contact-avatar-size-sm);
  // --avatar-size-sm: var(--contact-avatar-size-sm);
  // --avatar-size-md: var(--contact-avatar-size-md);
  // --avatar-size-lg: var(--contact-avatar-size-lg);
  // --avatar-size-xl: var(--contact-avatar-size-lg);
}

.contactsIcon {
  height: var(--contact-avatar-size);
  display: grid;
  align-items: center;
}
