.root {
  display: flex;
  flex-direction: column;
}

.title {
  margin: var(--mantine-spacing-sm);
  margin-bottom: 0;
}

.description {
  margin: var(--mantine-spacing-sm);
  margin-bottom: 0;
}

.accordion {
  flex: auto;
  margin-top: var(--mantine-spacing-sm);
  &:nth-child(1) {
    margin-top: 0;
  }
}

.now {
  flex: auto;
  margin: var(--mantine-spacing-sm);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
}

.drawerContent,
.drawerBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
}
