.root {
  display: grid;
  grid-template:
    "topMenu topFilter" auto
    "schedule filter" 1fr
    / 1fr 18rem;
  gap: var(--mantine-spacing-xs);

  @media (max-width: 48rem) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.topMenu {
  grid-area: topMenu;
}

.topFilter {
  grid-area: topFilter;
}

.toolbar {
  display: grid;
  grid-template-columns: auto;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  align-items: end;
  gap: var(--mantine-spacing-xs);
}

.leftToolbar {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  align-items: end;
  gap: var(--mantine-spacing-xs);
}

.filter {
  grid-area: filter;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  align-content: start;
  gap: var(--mantine-spacing-xs);
}

.schedule {
  grid-area: schedule;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-x: auto;
  overflow-y: visible;
}
