.EventDetails-root {
  display: flex;
  flex-direction: column;
}

.EventDetails-description {
  flex: auto;
}

.EventDetails-host {
  line-height: 1;
}

.EventDetails-bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventDetails-bookmarkCount {
  margin-top: 4px;
}
