.root {
  --gap: 0.25rem;
  --font-size: var(--mantine-font-size-md);
  --line-height: var(--mantine-line-height-md);
  --icon-size: calc(var(--font-size) * var(--line-height));

  display: grid;
  grid-template:
    "icon content" auto
    / auto minmax(1rem, 1fr);
  gap: var(--gap);

  align-items: start;

  color: var(--color);

  &[data-size="xs"] {
    --font-size: var(--mantine-font-size-xs);
    --line-height: var(--mantine-line-height-xs);
  }

  &[data-size="sm"] {
    --font-size: var(--mantine-font-size-sm);
    --line-height: var(--mantine-line-height-sm);
  }

  &[data-size="md"] {
    --font-size: var(--mantine-font-size-md);
    --line-height: var(--mantine-line-height-md);
  }

  &[data-size="lg"] {
    --font-size: var(--mantine-font-size-lg);
    --line-height: var(--mantine-line-height-lg);
  }

  &[data-size="xl"] {
    --font-size: var(--mantine-font-size-xl);
    --line-height: var(--mantine-line-height-xl);
  }
}

.icon {
  grid-area: icon;
  font-size: var(--icon-size);
  line-height: 1;
}

.content {
  grid-area: content;
  font-size: var(--font-size);
  line-height: var(--line-height);
}
