.Calendar-root {
  --num-tracks: 0;
  --num-cells: 0;
  --odd-background-color: #eeeeee;
  --even-background-color: #ffffff;

  display: grid;

  &.Calendar-vertical {
    --header-size: 1.75rem;
    --start-gap-size: 1rem;
    --end-gap-size: 1rem;
    --label-size: 5rem;
    --track-size: 8rem;
    --cell-size: 3rem;

    grid-template:
      ".      header" var(--header-size)
      ".      start-gap" var(--start-gap-size)
      "labels content" minmax(calc(var(--cell-size) * var(--num-cells)), 1fr)
      ".      end-gap" var(--end-gap-size)
      / var(--label-size) minmax(
        calc(var(--track-size) * var(--num-tracks)),
        1fr
      );
  }

  &.Calendar-horizontal {
    --header-size: 8rem;
    --start-gap-size: 2rem;
    --end-gap-size: 2rem;
    --label-size: 1.75rem;
    --track-size: 3rem;
    --cell-size: 5rem;

    grid-template:
      ".      .         labels  ." var(--label-size)
      "header start-gap content end-gap" minmax(
        calc(var(--track-size) * var(--num-tracks)),
        1fr
      )
      / var(--header-size) var(--start-gap-size) minmax(
        calc(var(--cell-size) * var(--num-cells)),
        1fr
      )
      var(--end-gap-size);
  }
}

.Calendar-header {
  grid-area: header;
}

.Calendar-labels {
  grid-area: labels;
}

.Calendar-content {
  grid-area: content;
}

.Calendar-gaps {
  grid-area: 2 / 2 / -1 / -1;
}

.Calendar-tracks {
  .Calendar-vertical & {
    grid-area: 1 / 2 / -1 / -1;
  }

  .Calendar-horizontal & {
    grid-area: 2 / 1 / -1 / -1;
  }
}

.Calendar-markSpacing {
  display: grid;

  .Calendar-vertical & {
    grid-template-columns: 1fr;
    grid-auto-rows: 0px;
    grid-auto-flow: row;
    align-content: space-between;
  }

  .Calendar-horizontal & {
    grid-template-rows: 1fr;
    grid-auto-columns: 0;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}

.Calendar-mark {
  .Calendar-vertical & {
    height: 0;
    border-top: gray dashed 1px;
  }

  .Calendar-horizontal & {
    width: 0;
    border-left: gray dashed 1px;
  }
}

.Calendar-labels {
  display: grid;
  white-space: pre;

  .Calendar-vertical & {
    align-items: center;
    justify-items: end;
  }

  .Calendar-horizontal & {
    align-items: end;
    justify-items: center;
  }
}

.Calendar-label {
  font-size: 1rem;
  line-height: 1rem;
}

.Calendar-trackSpacing {
  display: grid;

  .Calendar-vertical & {
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
  }

  .Calendar-horizontal & {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.Calendar-trackBackground {
  &:nth-child(odd) {
    background-color: var(--odd-background-color);
  }

  &:nth-child(even) {
    background-color: var(--even-background-color);
  }
}

.Calendar-track {
  display: grid;

  .Calendar-vertical & {
    grid-template:
      "header" var(--header-size)
      "start-gap" var(--start-gap-size)
      "content" 1fr
      "end-gap" var(--end-gap-size)
      / 1fr;
  }

  .Calendar-horizontal & {
    grid-template:
      "header start-gap content end-gap" 1fr
      / var(--header-size) var(--start-gap-size) 1fr var(--end-gap-size);
  }
}

.Calendar-trackHeader {
  grid-area: header;
}

.Calendar-headerTitle {
  display: block;

  .Calendar-vertical & {
    justify-self: center;
    align-self: end;
  }

  .Calendar-horizontal & {
    justify-self: end;
    align-self: center;
  }
}

.Calendar-trackContent {
  grid-area: content;
}

.Calendar-trackItems {
  position: relative;
  display: grid;
  grid-template: 1fr / 1fr;
}

.Calendar-trackItem {
  --item-start: 0%;
  --item-end: 0%;
  grid-area: 1 / 1 / -1 / -1;
  position: absolute;

  .Calendar-vertical & {
    top: var(--item-start);
    right: 0px;
    bottom: var(--item-end);
    left: 0px;
  }

  .Calendar-horizontal & {
    top: 0px;
    left: var(--item-start);
    bottom: 0px;
    right: var(--item-end);
  }
}
