.root {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template: 1fr / minmax(min-content, 75rem);
  justify-content: center;
}

.container {
  padding: var(--mantine-spacing-xs);
}

.title {
  margin-bottom: var(--mantine-spacing-xs);
}

.description {
  margin-bottom: var(--mantine-spacing-xs);
}
