.root {
  flex: auto;
  display: grid;
  grid-template: 1fr / minmax(min-content, var(--max-page-width));
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.titleAnchor {
  margin: var(--mantine-spacing-xs);

  .title {
    margin: 0;
  }
}

.title {
  margin: var(--mantine-spacing-xs);
}

.content {
  padding: var(--mantine-spacing-xs);
  flex: auto;
}

.footer {
  display: grid;
  grid-template:
    "divider" auto
    "btt" auto
    "details" auto
    / 1fr;
}

.footerDivider {
  grid-area: divider;
}

.btt {
  grid-area: btt;
  margin-top: var(--mantine-spacing-xs);
  justify-self: center;
}

.footerDetails {
  grid-area: details;
  padding: var(--mantine-spacing-xs);
  display: grid;
  grid-template:
    "version" auto
    / auto;
}

.version {
  grid-area: version;
  justify-self: end;
  font-size: 0.75rem;
  line-height: 1;
}
