.root {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;
  gap: var(--mantine-spacing-sm);
}

.bin {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.binTitle {
  font-size: var(--mantine-font-size-lg);
  line-height: var(--mantine-line-height-lg);
}

.binDivider {
  margin-bottom: var(--mantine-spacing-xs);
}
