/* fira-sans-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/fira-sans-v18-latin_latin-ext-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-sans-italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/fira-sans-v18-latin_latin-ext-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-sans-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/fira-sans-v18-latin_latin-ext-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-sans-700italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/fira-sans-v18-latin_latin-ext-700italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v20-latin_latin-ext-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/inter-v20-latin_latin-ext-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/inter-v20-latin_latin-ext-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/inter-v20-latin_latin-ext-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-image:
    url(/test-schedule-2026/images/dots.svg),
    linear-gradient(180deg, #443659 0%, #292234 300px);
  background-color: unset;
}

.MainLayout-header {
  --bg-red: #ce1b30;
  --bg-black: #000000;
  background: var(--bg-red);
  background-image:
    url(/test-schedule-2026/images/grid.png),
    linear-gradient(180deg, var(--bg-black) 0%, var(--bg-red) 80%);
  background-repeat: repeat;
  background-blend-mode: multiply;

  --header-min-height: 150px;

  border-bottom: #ff475d solid 4px;
}

.MainLayout-logo {
  width: 96px;
  filter: drop-shadow(2px 2px 4px#000);
}

.MainLayout-title {
  text-shadow: #000 2px 2px 4px;
  /* -webkit-text-stroke: #000 1px; */
  color: #fff;
}

#schedule > .preload-content {
  background-color: hsla(0, 0%, 0%, 0.45);
}

.MainLayout-container,
.Loading-container {
  background-color: hsla(0, 0%, 0%, 0.45);
}

.MainLayout-footer {
  /* background-color: hsla(0, 0%, 0%, 0.45); */
  background-color: hsla(0, 0%, 0%, 0.6);
}

/* Tag colors */

/*
 * Wong color palette:
 * https://davidmathlogic.com/colorblind/#%23000000-%23E69F00-%2356B4E9-%23009E73-%23F0E442-%230072B2-%23D55E00-%23CC79A7
 */

#schedule {
  --color-1: #ffffff;
  --color-2: #e69f00;
  --color-3: #56b4e9;
  --color-4: #009e73;
  --color-5: #f0e442;
  --color-6: #0072b2;
  --color-7: #d55e00;
  --color-8: #cc79a7;
  --text-1: #000;
  --text-2: #000;
  --text-3: #000;
  --text-4: #fff;
  --text-5: #000;
  --text-6: #fff;
  --text-7: #fff;
  --text-8: #fff;
}

#schedule .Pills-pillBody::before {
  text-shadow: #333 1px 1px 3px;
}

#schedule .Pills-pillBody::after {
  text-shadow: #333 1px 1px 3px;
}

#schedule .Pill-item-tag-arts {
  --pill-background: var(--color-4);
  --pill-color: var(--text-4);
  --pill-before: "🎨 ";
}

#schedule .Pill-item-tag-arts .Pills-pillBody {
  text-shadow: #111 1px 1px 3px;
}

#schedule .Pill-item-tag-educational {
  --pill-background: var(--color-3);
  --pill-color: var(--text-3);
  --pill-before: "🎓 ";
}

#schedule .Pill-item-tag-competition {
  --pill-background: var(--color-5);
  --pill-color: var(--text-5);
  --pill-before: "🥊 ";
}

#schedule .Pill-item-tag-meet-and-greet {
  --pill-background: var(--color-6);
  --pill-color: var(--text-6);
  --pill-before: "🤝 ";
}

#schedule .Pill-item-tag-meet-and-greet .Pills-pillBody {
  text-shadow: #111 1px 1px 3px;
}

#schedule .Pill-item-tag-gaming {
  --pill-background: var(--color-4);
  --pill-color: var(--text-4);
  --pill-before: "🎲 ";
}

#schedule .Pill-item-tag-gaming .Pills-pillBody {
  text-shadow: #111 1px 1px 3px;
}

#schedule .Pill-item-tag-music {
  --pill-background: var(--color-2);
  --pill-color: var(--text-2);
  --pill-before: "🎹 ";
}

#schedule .Pill-item-tag-performance {
  --pill-background: var(--color-8);
  --pill-color: var(--text-8);
  --pill-before: "🎭 ";
}

#schedule .Pill-item-tag-performance .Pills-pillBody {
  text-shadow: #111 1px 1px 3px;
}

#schedule .Pill-item-tag-special {
  --pill-background: var(--color-7);
  --pill-color: var(--text-7);
  --pill-before: "⭐ ";
}

#schedule .Pill-item-tag-special .Pills-pillBody {
  text-shadow: #111 1px 1px 3px;
}

#schedule .Pill-item-tag-loud-sounds {
  --pill-after: " 🔊";
}

#schedule .Pill-item-tag-flashing-lights {
  --pill-after: " 💥";
}

#schedule .Pill-item-tag-flashing-lights.Pill-item-tag-loud-sounds {
  --pill-after: " 💥🔊";
}

#schedule .Pill-item-tag-hand-eye-coordination {
  --pill-after: " 👋";
}

#schedule .Pill-item-tag-seating {
  --pill-background: #555;
  --pill-color: #fff;
}

#schedule .GanttView-gantt {
  --track-background-odd: hsl(281, 76%, 5%);
  --track-background-even: hsl(281, 76%, 10%);
  --track-vertical-width: 2.5rem;
  --mark-border: #999 dashed 1px;
}

#schedule .Gantt-bar-id-registration-vip {
  --bar-color: #e6c271;
  color: #333333;
}

#schedule .Gantt-bar-id-registration {
  --bar-color: var(--color-2);
}

#schedule .Gantt-bar-id-dealers-den {
  --bar-color: var(--color-3);
}

#schedule .Gantt-bar-id-artists-alley {
  --bar-color: var(--color-4);
  color: #ffffff;
  text-shadow: #333 -1px 1px 2px;
}

#schedule .Gantt-bar-id-hospitality {
  --bar-color: var(--color-6);
}

#schedule .Gantt-bar-id-video-gaming {
  --bar-color: var(--color-7);
}

#schedule .Gantt-bar-id-board-gaming {
  --bar-color: var(--color-8);
}

#schedule .Gantt-bar-id-safety-con-ops {
  --bar-color: var(--color-5);
  color: #333333;
}

#schedule .Gantt-bar-id-charity {
  --bar-color: #882255;
}

#schedule .Gantt-bar-id-headless-lounge {
  --bar-color: #117733;
  color: #ffffff;
  text-shadow: #333 -1px 1px 2px;
}

#schedule .Gantt-bar-id-headless-lounge-402-only {
  --bar-color: #29633c;
  color: #ffffff;
  text-shadow: #333 -1px 1px 2px;
}

#schedule .Gantt-bar-id-exhibitors-row {
  --bar-color: #332288;
  color: #ffffff;
  text-shadow: #333 -1px 1px 2px;
}

#schedule .Gantt-bar-id-ahf-testing {
  --bar-color: #785ef0;
  color: #ffffff;
  text-shadow: #333 -1px 1px 2px;
}

/* Map styles */

.MapViewer-level-id-4f {
  --map-isometric-y-offset: -34.5in;
}

.MapViewer-level-id-3f {
  --map-isometric-y-offset: -22.5in;
}

.MapViewer-level-id-2f {
  --map-isometric-y-offset: -10in;
}

.MapViewer-level-id-lobby {
  --map-isometric-y-offset: 0in;
}

.MapViewer-level-id-lower {
  --map-isometric-y-offset: 14.5in;
}

.MapViewer-root {
  background: #fff;
}

#schedule .LevelMenu-button[data-variant="outline"] {
  color: var(--mantine-color-themePink-filled);
}

@keyframes pulse {
  100% {
    fill: var(--pulse-color, #53dfff);
  }
}
@keyframes pulse-stroke {
  100% {
    stroke: var(--pulse-color, #6a6daa);
  }
}
.Map-area.Map-active {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.vendor-tables {
  --pulse-color: #bfdeb2;
}

.Map-area-id-north-atrium.Map-active {
  animation-name: pulse-stroke;
}

.height-indicator {
  display: none;
}

.Map-isometric-transition-finished .height-indicator {
  display: initial;
}

.Map-foreignObjectText {
  font-family: "Inter", sans-serif;
  font-size: 0.33in;
  line-height: 0.33in;
  text-align: center;
  color: #000;
}
.event-title .Map-foreignObjectText {
  font-size: 0.75in;
  line-height: 0.75in;
  text-align: left;
}
.event-title .Map-foreignObjectText::before {
  content: "Now: ";
}
.event-title.is-light .Map-foreignObjectText {
  color: #eeeeee;
}
.event-title.is-dark .Map-foreignObjectText {
  color: #333333;
}
.vendor-small .Map-foreignObjectText {
  font-size: 0.2in;
  line-height: 0.2in;
}

@keyframes escalator {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(51px);
  }
}
.escalator-segments {
  animation-name: escalator;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

.Map-isometric:not(.Map-isometric-transition-finished) .escalator-2f,
.Map-isometric:not(.Map-isometric-transition-finished) .escalator-3f,
.Map-isometric:not(.Map-isometric-transition-finished) .escalator-4f {
  display: none;
}

.Map-isometric-transition-finished .escalator-2f {
  transform: translate(4.8in, 9.8in) translate(50%, 50%) scaleX(0.5)
    skew(0deg, -45deg) translate(-50%, -50%);
}
.Map-isometric-transition-finished .escalator-3f {
  transform: translate(5.5in, 11.3in) translate(50%, 50%) scaleX(0.5)
    skew(0deg, -45deg) translate(-50%, -50%);
}
.Map-isometric-transition-finished .escalator-4f {
  transform: translate(5.5in, 11.3in) translate(50%, 50%) scaleX(0.5)
    skew(0deg, -45deg) translate(-50%, -50%);
}
.Map-isometric-transition-finished .stairs-lobby {
  transform: translate(0, 3.6in) translate(50%, 50%) skew(0deg, 10deg)
    translate(-50%, -50%);
}
.Map-isometric-transition-finished .stairs-lower {
  transform: translate(0in, 3in) translate(50%, 50%) skew(0deg, 20deg)
    translate(-50%, -50%);
}
.Map-isometric-transition-finished .ss-l-2 {
  transform: translate(-0.5in, -0.5in);
}
.Map-isometric-transition-finished .ss-l-3 {
  transform: translate(-1in, -1in);
}
.Map-isometric-transition-finished .ss-l-4 {
  transform: translate(-1.5in, -1.5in);
}
.Map-isometric-transition-finished .ss-l-5 {
  transform: translate(-2in, -2in);
}
.Map-isometric-transition-finished .ss-l-6 {
  transform: translate(-2.5in, -2.5in);
}
.Map-isometric-transition-finished .ss-l-7 {
  transform: translate(-3in, -3in);
}
.Map-isometric-transition-finished .ss-l-8 {
  transform: translate(-3.5in, -3.5in);
}
.Map-isometric-transition-finished .ss-l-9 {
  transform: translate(-4in, -4in);
}
.Map-isometric-transition-finished .ss-l-10 {
  transform: translate(-4.5in, -4.5in);
}
.Map-isometric-transition-finished .ss-l-11 {
  transform: translate(-5in, -5in);
}
.Map-isometric-transition-finished .ss-l-12 {
  transform: translate(-5.5in, -5.5in);
}
.Map-isometric-transition-finished .ss-u-2 {
  transform: translate(0.5in, 0.5in);
}
.Map-isometric-transition-finished .ss-u-3 {
  transform: translate(1in, 1in);
}
.Map-isometric-transition-finished .ss-u-4 {
  transform: translate(1.5in, 1.5in);
}
.Map-isometric-transition-finished .ss-u-5 {
  transform: translate(2in, 2in);
}
.Map-isometric-transition-finished .ss-u-6 {
  transform: translate(2.5in, 2.5in);
}
.Map-isometric-transition-finished .ss-u-7 {
  transform: translate(3in, 3in);
}
.Map-isometric-transition-finished .ss-u-8 {
  transform: translate(3.5in, 3.5in);
}
.Map-isometric-transition-finished .ss-u-9 {
  transform: translate(4in, 4in);
}
.Map-isometric-transition-finished .ss-u-10 {
  transform: translate(4.5in, 4.5in);
}
.Map-isometric-transition-finished .ss-u-11 {
  transform: translate(5in, 5in);
}
.Map-isometric-transition-finished .ss-u-12 {
  transform: translate(5.5in, 5.5in);
}

.registration-status .traffic-red {
  display: initial;
}
.registration-status .traffic-yellow,
.registration-status .traffic-green {
  display: none;
}

.area-warn {
  display: none;
}
.Map-flag-id-area-warn .area-warn {
  display: initial;
}

.manick {
  display: none;
}
.Map-flag-id-manick .manick {
  display: initial;
}

.cosmik-rhubarb {
  display: none;
}
.Map-flag-id-cosmik-rhubarb .cosmik-rhubarb {
  display: initial;
}

.ice-cream {
  display: none;
}
.Map-flag-id-ice-cream .ice-cream {
  display: initial;
}

.dance {
  display: none;
}
.Map-flag-id-dance .dance {
  display: initial;
}

.Map-flag-id-registration-open .registration-status .traffic-red {
  display: none;
}
.Map-flag-id-registration-open .registration-status .traffic-green {
  display: initial;
}

.Map-flag-id-registration-closing .registration-status .traffic-red,
.Map-flag-id-registration-early-access .registration-status .traffic-red {
  display: none;
}
.Map-flag-id-registration-closing .registration-status .traffic-yellow,
.Map-flag-id-registration-early-access .registration-status .traffic-yellow {
  display: initial;
}

.dealers-status .traffic-red {
  display: initial;
}
.dealers-status .traffic-yellow,
.dealers-status .traffic-green {
  display: none;
}

.Map-flag-id-dealers-open .dealers-status .traffic-red {
  display: none;
}
.Map-flag-id-dealers-open .dealers-status .traffic-green {
  display: initial;
}

.Map-flag-id-dealers-closing .dealers-status .traffic-red {
  display: none;
}
.Map-flag-id-dealers-closing .dealers-status .traffic-yellow {
  display: initial;
}

@keyframes aa-switch-forward {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes aa-switch-backward {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes aa-switch-alt-forward {
  0% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes aa-switch-alt-backward {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
#lower__test-aa.Map-flag-transition-finished {
  display: none;
}
#lower__test-aa {
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transform-origin: center;
  transform-box: fill-box;
}
#lower__test-aa.Map-flag-transition-forward {
  animation-name: aa-switch-forward;
}
#lower__test-aa.Map-flag-transition-backward {
  animation-name: aa-switch-backward;
}

#lower__test-aa-alt {
  display: none;
}
#lower__test-aa-alt.Map-flag-transition-backward,
#lower__test-aa-alt.Map-flag-transition-forward,
#lower__test-aa-alt.Map-flag-transition-finished {
  display: initial;
}
#lower__test-aa-alt {
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transform-origin: center;
  transform-box: fill-box;
}
#lower__test-aa-alt.Map-flag-transition-forward {
  animation-name: aa-switch-alt-forward;
}
#lower__test-aa-alt.Map-flag-transition-backward {
  animation-name: aa-switch-alt-backward;
}

/*# sourceMappingURL=map.css.map */
