.root {
  --day-filter-title-min-width: 1rem;
  --day-filter-font-size: var(--mantine-h4-font-size);
  --day-filter-line-height: var(--mantine-h4-line-height);
  --day-filter-font-weight: var(--mantine-h4-font-weight);

  display: grid;
  grid-template: "prev select next" auto / auto auto auto;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-xs);

  font-size: var(--day-filter-font-size);
  line-height: var(--day-filter-line-height);
  font-weight: var(--day-filter-font-weight);
}

.button {
  font-size: calc(1.125rem * 1.45);
  color: var(--mantine-color-text);
  background: none;

  &[data-disabled] {
    color: var(--mantine-color-disabled-color);
  }
}

.prev {
  grid-area: prev;
}

.select {
  grid-area: select;
  justify-self: center;
  min-width: var(--day-filter-title-min-width);
}

.selectInput {
  text-align: center;
  font-size: var(--day-filter-font-size);
  line-height: var(--day-filter-line-height);
  font-weight: var(--day-filter-font-weight);
}

.next {
  grid-area: next;
}
