.root {
  margin-top: calc(0.5 * var(--mantine-spacing-xs));
  margin-bottom: calc(1 * var(--mantine-spacing-xs));
}

.title {
  font-size: 1rem;
}

.divider {
  margin-top: calc(0.5 * var(--mantine-spacing-xs));
  margin-bottom: calc(0.75 * var(--mantine-spacing-xs));
}

.pills {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--mantine-spacing-xs));
  margin-left: calc(-1 * var(--mantine-spacing-xs));
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-sm);
}

.pills > * {
  margin-left: var(--mantine-spacing-xs);
  margin-top: var(--mantine-spacing-xs);
}
