.button {
  cursor: pointer;
}

.root {
  --pill-background: #fff;
  --pill-border: #000 solid 1px;
  --pill-box-shadow: #aaa 1px 1px 1px;
  --pill-color: #000;
  --pill-indicator-color: var(--mantine-primary-color-filled);
  --pill-before: "";
  --pill-after: "";
  color: var(--pill-color);
  list-style: none;
  display: block;
}

.body {
  display: block;
  background: var(--pill-background);
  border: var(--pill-border);
  border-radius: 4px;
  box-shadow: var(--pill-box-shadow);
  padding: 2px;
  text-decoration: none;
  color: inherit;

  &::before {
    content: var(--pill-before);
  }

  &::after {
    content: var(--pill-after);
  }
}

.indicator {
  --indicator-color: var(--pill-indicator-color);
  margin-right: var(--mantine-spacing-xs);
}
