.root {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  justify-content: center;
  justify-content: safe center;
  align-items: start;

  gap: var(--mantine-spacing-md);
}
