.DayFilter-root {
  --title-min-width: 150px;
}

.DayFilter-root {
  display: grid;
  grid-template: "prev title next" 1fr / auto minmax(
      var(--title-min-width),
      max-content
    ) auto;
  justify-content: center;
  align-items: center;
}

.DayFilter-prev {
  grid-area: prev;
}

.DayFilter-title {
  justify-self: center;
}

.DayFilter-next {
  grid-area: next;
}
