.PillBin-root {
  margin-top: calc(0.5 * var(--mantine-spacing-xs));
  margin-bottom: calc(0.5 * var(--mantine-spacing-xs));
}

.PillBin-title {
  font-size: 1rem;
}

.PillBin-divider {
  margin-top: calc(0.5 * var(--mantine-spacing-xs));
  margin-bottom: calc(0.75 * var(--mantine-spacing-xs));
}

.PillBin-pills {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--mantine-spacing-xs));
  margin-left: calc(-1 * var(--mantine-spacing-xs));
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-sm);
}

.Pill-button {
  cursor: pointer;
}

.PillBin-pills > * {
  margin-left: var(--mantine-spacing-xs);
  margin-top: var(--mantine-spacing-xs);
}

.Pill-root {
  --pill-background: #fff;
  --pill-border: #000 solid 1px;
  --pill-box-shadow: #aaa 1px 1px 1px;
  --pill-color: #000;
  --pill-indicator-color: var(--mantine-primary-color-filled);
  --pill-before: "";
  --pill-after: "";
  color: var(--pill-color);
  list-style: none;
  display: block;
}

.Pill-body {
  display: block;
  background: var(--pill-background);
  border: var(--pill-border);
  border-radius: 4px;
  box-shadow: var(--pill-box-shadow);
  padding: 2px;
  text-decoration: none;
  color: inherit;

  &::before {
    content: var(--pill-before);
  }

  &::after {
    content: var(--pill-after);
  }
}

.Pill-indicator {
  --indicator-color: var(--pill-indicator-color);
  margin-right: var(--mantine-spacing-xs);
}
